<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Список занятий</h2>
<a href="{% url 'courses' %}">courses</a>
<a href="{% url 'all_lessons' %}">lessons</a>
<b><a href="{% url 'teachers' %}">teachers</a></b>
<a style="margin-left: 20px;" href="{% url 'admin:index' %}">admin</a>
<hr>
<ul>
    {% for teacher in teachers %}
    <li>
        <span>{{teacher.user}}</span>
    </li>
    {% empty %}
    Список занятий пуст
    {% endfor %}
</ul>
</body>
</html>